<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Orders</ion-title>
    <ion-button [routerLink]="['/tabs']" slot="start" color="primary"><ion-icon name="arrow-back" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<!-- | async -->

<ion-content>
  <ion-list *ngFor="let p of orders | async">
    <div class="card-align">
        <ion-card>
          <ion-img [src]="p.image" class="rand-img"></ion-img>
            <ion-card-header>
              <ion-card-title>Your Order is being processed</ion-card-title>
              <h2>Your Order ID: {{p.id}}</h2>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="secondary">
                <b></b>
              </ion-label>
              <br/>
            </ion-card-content>
          </ion-card>
    </div>
  </ion-list>
</ion-content>
