<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authentication App</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>


      <ion-item>
        <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
      </ion-item>
      <div *ngIf="!address.errors" class="errors">
        <span *ngIf="address.errors?.required">address is required</span>
      </div>

      <ion-item>
        <ion-input type="text" placeholder="Full Name" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="!name.errors" class="errors">
        <span *ngIf="name.errors?.required">Full Name is required</span>
      </div>


      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Register</ion-button>
    <ion-button [routerLink]="['/login']">Back</ion-button>
  </form>
</ion-content>