<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ulams
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-list>
    <ion-item *ngFor="let p of products | async" (click)="p.expanded = !p.expanded">

      <div class="card-align">
        <ion-card>
          <ion-img [src]="p.image" class="rand-img"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ p.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label class="ion-text-wrap">
                <b>{{ p.price | currency:'₱' }}</b>
                <p>{{ p.stock }} left</p>
                <div [hidden]="!p.expanded">
                  {{ p.description }}
                </div>
              </ion-label>
              <br/>
              <ion-button color="primary" (click)="addToCart($event, p)"><ion-icon name="cart"></ion-icon></ion-button>
              <ion-button (click)="removeFromCart($event, p)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
    </div>
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" color="secondary" #myfab>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>