.my-custom-menu {
    --width: 500px;
  }
  .rand-img {
    height: 50vh;
    width: auto;
    margin: auto;
    display: block;
  }
  
  .text-header {
    text-align: center;
  }
  .card-align {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-fab-button {
    height: 70px;
    width: 70px;
  }
  .cart-icon {
    font-size: 50px;
  }
  
  .cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }

  ion-segment-button {
    // --indicator-box-shadow: transparent !important;
    // --background:white;
    // --color:#2d2e87;
    // --background-checked: linear-gradient(to right, #2d2e87, #0083CB)!important;
    // --color-checked: white;
    border-radius: .2rem !important;
    padding: 2px;
    margin: 0;
  }
  