<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <div class="ion-padding">
      <div class="card">
          <div class="header">
            <div class="avatar">
              <ion-thumbnail>
                <img src="{{ userImage }}" alt="profile-pic" class="profile-pic">
              </ion-thumbnail>
            </div>

        <div class="card-body" >
          <div class="user-meta ion-text-center">
            <h5 class="name">Your Registered EmailID : {{userEmail}}</h5>
            <h5 class="name">Your Registered Name : {{userName}}</h5>

         
              <ion-button color="secondary" (click)="updatePage()"><ion-icon name="cloud-upload"></ion-icon>Update Profile</ion-button>
              
              <ion-button color="secondary" (click)="uploadFood()"><ion-icon name="pizza"></ion-icon>Post Food</ion-button>
          
  
            <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
            
            
            <ion-button color="secondary" (click)="postedFood()">Posted Food</ion-button>
           
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

