<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  
  <div class="ion-padding">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <ion-thumbnail>
            <img src="{{userImage}}" alt="profile-pic" class="profile-pic">
          </ion-thumbnail>
          <!-- <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button> -->
          
        </div>
        <!-- *ngFor="let user of userData" -->
        <div class="card-body" >
          <div class="user-meta ion-text-center">
            <h3 class="name">Your Registered EmailID : {{userEmail}}</h3>
            <h3 class="name">Your Registered Name : {{userName}}</h3>
            <!-- <h5 class="country">{{user.displayName}}</h5> -->
            <ion-chip color="primary">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="success">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="tertiary">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="danger">
              <ion-label>Test</ion-label>
            </ion-chip>  
            <ion-button expand="full" (click)="logout()">Logout</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>