<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header translucent>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectTabs">
        <ion-segment-button value="preparing">
          <ion-label>Preparing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="on-the-way">
          <ion-label>On The Way</ion-label>
        </ion-segment-button>
        <ion-segment-button value="delivered">
          <ion-label>Delivered</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="selectTabs == 'preparing'">
  <ion-list *ngFor="let p of orders | async">
    <div class="card-align">
        <ion-card>
            <ion-card-header>
              <ion-card-title>Your Order is being processed</ion-card-title>
              <h2>Your Order ID: {{ p.id}}</h2>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="secondary">
                <b></b>
              </ion-label>
              <br/>
            </ion-card-content>
          </ion-card>
    </div>
  </ion-list>
</div>  

    <div *ngIf="selectTabs == 'on-the-way'">
      <ion-list *ngFor="let o of onTheWay | async">
        <div class="card-align">
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Your Order is on the Way</ion-card-title>
                  <h2>Your Order ID: {{o.id}}</h2>
                </ion-card-header>
                <ion-card-content>
                  <ion-button color="primary" (click)="receiveStatus($event, o)"><ion-icon name="arrow-up"></ion-icon>Received</ion-button>
                  <br/>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-list>
    </div>

        <div *ngIf="selectTabs == 'delivered'">
          <ion-list *ngFor="let r of received | async">
            <div class="card-align">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>Your Order is on the Way</ion-card-title>
                      <h2>Your Order ID: {{r.id}}</h2>
                    </ion-card-header>
                    <ion-card-content>
                      <br/>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-list>
         
        </div>  
</ion-content>
