<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/icon/aling-nena-logo.png">
        <h1>Aling Nena!</h1>
        <p>Where you can find the food you love!!</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/img/food-intro.jpg">
        <h1>Comes With Many Choices!!</h1>
        <p>Gives the best filipino dishes!!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>