<ion-header>
  <ion-toolbar>
    <ion-title>
      Posted Foods
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Foods
    </ion-list-header>

    <ion-item *ngFor="let foods of Foods" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{foods.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{foods.stocks}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-food/', foods.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteFood(foods.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <button [routerLink]="['/tab1']" routerLinkActive="router-link-active">Back</button>
  </ion-list>