<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>
      Posted Foods
    </ion-title>
    <ion-button [routerLink]="['/tabs']" slot="start" color="primary"><ion-icon name="arrow-back" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Foods
    </ion-list-header>

    <ion-item *ngFor="let foods of Foods" class="user-list">
      <div class="card-align">
        <ion-card>
          <ion-img [src]="foods.img" class="rand-img"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ foods.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label class="ion-text-wrap">
                <b>{{ foods.price | currency:'₱' }}</b>
                <p>{{ foods.stock }} left</p>
                <p>{{ foods.category }}</p>
                <p> {{ foods.description }}</p>
              </ion-label>
              <br/>
              <div class="item-note" item-end>
                <button ion-button clear [routerLink]="['/edit-food/', foods.$key]">
                  <ion-icon name="create" style="zoom:2.0"></ion-icon>
                </button>
                <button ion-button clear (click)="deleteFood(foods.$key)">
                  <ion-icon name="trash" style="zoom:2.0"></ion-icon>
                </button>
              </div>
            
            </ion-card-content>
          </ion-card>
      </div>
    </ion-item>
  </ion-list>
</ion-content>